:root {
    --color-fondo: #f9f9f9;
    --color-borde: #ddd;
    --color-sombra: rgba(0, 0, 0, 0.2);
}

.sidebar-rectangulo {
    background-color: var(--color-fondo);
    border: 3px solid var(--color-borde);
    box-shadow: -4px 0px 8px var(--color-sombra);
}


.sidebar {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100%;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.notificaciones-list {
    margin-top: 20px;
}

.notificacion-card {
    background-color: #f9f9f9; /* Color de fondo del rectángulo */
    border-radius: 8px; /* Opcional: Puedes quitar esto si prefieres bordes rectos */
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Línea clara para definir los límites */
    display: flex; /* Organización interna */
    flex-direction: column; /* Apilamiento vertical */
    width: 100%; /* Ajuste al contenedor */
    height: auto; /* Acomodo dinámico */
}


.notificacion-card h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.notificacion-card p {
    font-size: 14px;
    color: #777;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.bell-icon {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
