.mispermutas-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.mispermutas-columns {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap; /* Esto permite que las columnas se acomoden en pantallas pequeñas */
}

.mispermutascol {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px; /* Evita que las columnas se hagan demasiado pequeñas */
}

.mispermutas-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.mispermuta-card {
  width: 90%;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.mispermuta-info {
  margin-bottom: 15px;
}

.mispermuta-info p {
  margin: 8px 0;
}

.denegar-btn {
  background-color: #bf0a2e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.denegar-btn:hover {
  background-color: #a00927;
}

.denegar-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin: 20px 0;
}

.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.mispermutas-title {
color:#333
}