.report-issue-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

.report-issue-container-form{
    max-width: 700px;
    margin: 40px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.report-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

select, textarea, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background-color: #2b579a;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;    
}

button:hover {
    background-color: #1e4a87;
}

.file-info {
    font-size: 0.8em;
    color: #666;
    margin-left: 10px;
}

.error-message {
    color: #dc3545;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="file"] {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}
