.contenedor {
  margin: auto;
  padding: 20px;
  width: auto;
}

.titulo {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

/* Contenedor grid de las tarjetas */
.tarjetas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* Responsive: 1 columna en pantallas pequeñas */
@media (max-width: 768px) {
  .tarjetas-grid {
    grid-template-columns: 1fr;
  }
}

.tarjeta {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nombre-asignatura {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.select-grupo {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.boton-guardar {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-guardar:hover {
  background-color: #0056b3;
}

.loading-message {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin: 1rem 0;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* Espacio entre el checkbox y el texto */
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
}
