.contenedor {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.titulo {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.tarjeta {
  background-color: #f8f9fa;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nombre-asignatura {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.select-grupo {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.boton-guardar {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-guardar:hover {
  background-color: #0056b3;
}
